/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: linear-gradient(#081221, #03080f);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
    /* box-sizing: border-box; */
    color: #c1d1e8;
}

html, body { height: 100%; width: 100%; }